<!DOCTYPE html>
<html>
<head>
  <title>Impasto</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "prelaunch", :media => "all" %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js "></script>
  <%= javascript_include_tag "prelaunch" %>
  <script type="text/javascript">
    WebFontConfig = {
      typekit: { id:'kab7drn'},
      active: function(){
        $.publish('fonts-loaded');
      },
      inactive: function(){
        $.publish('fonts-loaded');
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
